.form-register {
    width: 35rem;
    background: #eff2f5;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #F8F9FA;
  }

  .controls {
    width: 100%;
    background: #F8F9FA;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #EA95F8;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }

.labelForm {
    color: black;
    display: flex;
}

@media (max-width:480px) {
  .form-register {
    width: 22rem;
  }
}